// Variables
:root {
     --color-primary: #6c83a4;
     --color-secondary: #dad0c2;
     --color-white: #fff;
     --color-dark: #1f1e1d;
     --color-body: #8ecae6;
     --color-title: #023047;
     --color-text: #023047;
     --btn-bg-primary: #023047;
     --btn-bg-hover-primary: #074665;
     --btn-bg-secondary: #fb8500;
     --btn-bg-hover-secondary: #ff951e;
     --border-radius: 15px;
     --transition: 0.2s;
     --font-primary: "Open Sans", sans-serif;
     --font-secondary: "Dela Gothic One", sans-serif;
}
